<div class="flex justify-between py-1 px-8 bg-white ">
    <div id="logo" class="flex justify-center items-center">
      <h1 class="font-sans text-3xl font-medium text-white">
        <span class="font-normal italic text-3xl text-gray">Kzarix</span>
      </h1>
    </div>
  
    <div>
      <input
        class="w-full hidden 2xl:w-[920px] xl:w-[720px] lg:w-[520px] md:w-[320px] sm:block text-gray border-none pl-4 py-3 rounded-md bg-white focus:outline-none focus:ring-1 focus:ring-secondary-purple focus:border-transparent"
        type="text"
        placeholder="Search Something..."
      />
    </div>
  
    <div class="flex justify-end gap-6 items-center">
      <h1 class="text-gray font-sans font-normal">
        <span class="font-medium">+ </span>Add
      </h1>
      <div>
        <fa-icon [icon]="['fas', 'bell']" class="text-gray text-2xl mr-4"></fa-icon>
        <div class="-mt-6 ml-4 absolute w-3 h-3 bg-secondary-danger rounded-xl"></div>
      </div>
      <div class="relative mt-3">
        <app-drop-down></app-drop-down>
      </div>
    </div>
  </div>