<div class="flex w-full justify-between py-2 px-8 bg-dark-blue border-b border-dark-blue z-10">
    <div class="flex gap-4 ml-4 justify-center items-center">
      <h1 class="font-sans text-3xl font-medium text-white">
        <span class="font-normal italic text-3xl text-accent-offwhite">Kzarix</span>
      </h1>
    </div>
  
    <div>
      <input
        class="w-full hidden 2xl:w-[920px] xl:w-[720px] lg:w-[520px] md:w-[320px] sm:block text-accent-offwhite border-none pl-4 py-3 rounded-md bg-white focus:outline-none focus:ring-1 focus:ring-secondary-purple focus:border-transparent"
        type="text"
        placeholder="Search Something..."
      />
    </div>
  
    <div class="flex justify-end gap-6 items-center">
      <h1 class="text-accent-offwhite font-sans font-normal">
        <span class="font-medium">+ </span>Add
      </h1>
  
      <!-- Notification Dropdown -->
      <div class="notification-container relative">
        <button (click)="toggleNotificationDropdown()" class="focus:outline-none">
          <i class="fas fa-bell text-accent-offwhite text-2xl mr-4"></i>
          <!-- Notification badge -->
          <span
            *ngIf="notifications.length > 0"
            class="absolute top-1 right-3 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white transform translate-x-1/2 -translate-y-1/2 bg-red-500 rounded-full"
          >
            {{ notifications.length }}
          </span>
        </button>
  
        <!-- Dropdown notification content -->
        <div
          *ngIf="isNotificationDropdownOpen"
          class="absolute right-0 mt-[16px] -mr-20 w-[320px] bg-dark-blue  py-4 shadow-lg z-50 "
        >
          <div class="py-2">
            <div
              *ngFor="let notification of notifications"
              class="px-4 py-2 text-sm text-accent-offwhite hover:bg-gray-100 border-b border-secondary-purple"
            >
              {{ notification }}
            </div>
            <div
              *ngIf="notifications.length === 0"
              class="px-4 py-2 text-sm text-accent-offwhite"
            >
              No new notifications.
            </div>
          </div>
        </div>
      </div>
  
      <!-- Other dropdown (app-drop-down) -->
      <div class="relative mt-3">
        <app-drop-down></app-drop-down>
      </div>
    </div>
  </div>