<div class="flex flex-col items-center justify-center h-screen gap-8">

    <h1 class="text-[#137e83] text-5xl font-medium">Your Account verified successfully</h1>
    <div>
        <fa-icon [icon]="['fas', 'check-circle']" class="text-[#137e83] text-6xl"></fa-icon>
    </div>
    <p class="font-sans font-medium teext-xl text-gray/80">Now you can login to your account</p>
    <button routerLink="/auth/login" class="bg-accent-blue py-2 w-32 text-white font-sans font-medium">Login</button>
</div>
