<div class="flex">
    <div class="flex flex-col gap-8 w-1/2 justify-center items-center h-screen">
        <ng-container *ngIf="!isVerified; else successTemplate">
        <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()" class="flex flex-col  items-center gap-4">
            <div id="email" class="flex flex-col gap-2">
                <h3 class="text-gray text-md font-medium">Email</h3>
                <input class="w-96 p-2 bg-[#eef0f2] h-14 rounded-md " formControlName="email" type="email" placeholder="Enter your Email here" required>
            </div>
              <div id="password" class="flex flex-col gap-2 relative">
              <h3 class="text-gray text-md font-medium">Verification code</h3>
              <input 
                class="w-96 p-2 bg-[#eef0f2] h-14 rounded-md pr-10" 
                [type]="isPasswordVisible ? 'text' : 'password'" 
                formControlName="verificationCode" 
                placeholder="Enter your Verification code " required>
              <button 
                type="button" 
                (click)="togglePasswordVisibility()" 
                class="absolute right-2 top-1/2 transform translate-y-[15%]">
                <i class="fa" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
              </button>
              <!-- <a href="/forgot-password" class="text-accent-blue text-xs font-semibold mt-2">Resend</a> -->
            </div>
            
            <button type="submit" class="bg-accent-blue p-4 w-48 text-white font-sans font-medium mt-8 " [disabled]="verifyForm.invalid">Verify now</button>
            <p class="mt-4">Still not getting the verification code? <span class="text-accent-blue font-semibold">Resend</span></p>
        </form>
    </ng-container>
    <ng-template #successTemplate>
        <div class="flex flex-col gap-4 text-center">
            <h3 class="text-[#137e83] text-3xl font-medium">Your Account verified successfully</h3>
            <fa-icon [icon]="['fas', 'check-circle']" class="text-green-500 text-6xl"></fa-icon>
            <p class="text-gray text-xl font-normal">Now you can login to your account</p>
        </div>
        <button class="bg-accent-blue p-4 w-48 text-white font-sans font-medium mt-8" (click)="navigateToLogin()">Continue</button>
    </ng-template>


    </div>
    <div class="h-screen text-center bg-black w-1/2 flex justify-center items-center">
        <h1 class="text-accent-offwhite text-9xl font-light italic">Kzarix</h1>
    </div>
  </div>