<div class="sidebar px-4 h-full flex flex-col text-start items-center bg-primary-dark-slate border-r border-dark-blue"
     [class.collapsed]="isCollapsed">
  <div id="menu" class="flex items-center mt-12 w-full">
    <ul class="flex flex-col items-start gap-8 w-full">
      <!-- Overview -->
      <li class="w-full text-accent-offwhite flex gap-3 items-center hover:text-accent-yellow"
          [class.text-accent-yellow]="isRouteActive('/dashboard')">
        <i class="fas fa-tachometer-alt text-[20px]"></i>
        <a [routerLink]="['/dashboard']" 
           routerLinkActive="text-accent-yellow"
           class="text-[16px] font-normal transition-opacity" 
           [class.hidden]="isCollapsed">Overview</a>
      </li>
      <!-- Orders -->
      <li class="w-full text-accent-offwhite flex gap-3 items-center hover:text-accent-yellow"
          [class.text-accent-yellow]="isRouteActive('/dashboard/orders')">
          <i class="fas fa-shopping-cart text-[20px] text-accent-blue"></i>
        <a [routerLink]="['/dashboard/orders']" 
           routerLinkActive="text-accent-yellow"
           class="text-[16px] font-normal transition-opacity" 
           [class.hidden]="isCollapsed">Orders</a>
      </li>

      <!-- Products Submenu -->
      <app-sub-menu 
        [marginLeft]="'ml-8'"
        [icon]="'fas fa-box'"
        [title]="'Products'"
        [link]="'/dashboard/products'"
        [isOpen]="openSubmenu === 'products'"
        [routes]="['/dashboard/products/add', '/dashboard/products/categories', '/dashboard/products/inventory']"
        (toggle)="toggleSubmenu('products')"
        [isCollapsed]="isCollapsed">
        <li class="flex flex-col gap-4 text-accent-offwhite font-normal">
          <a [routerLink]="['/dashboard/products/add']" 
             routerLinkActive="text-accent-yellow"
             class="hover:text-accent-yellow">Add Product</a>
          <a [routerLink]="['/dashboard/products/categories']" 
             routerLinkActive="text-accent-yellow"
             class="hover:text-accent-yellow">Categories</a>
          <a [routerLink]="['/dashboard/products/inventory']" 
             routerLinkActive="text-accent-yellow"
             class="hover:text-accent-yellow">Inventory</a>
        </li>
      </app-sub-menu>

      <!-- Cutomers  -->

      <app-sub-menu 
        [marginLeft]="'ml-8'"
        [icon]="'fas fa-users'"
        [title]="'Customers'"
        [link]="'/dashboard/products'"
        [isOpen]="openSubmenu === 'customers'"
        [routes]="['/dashboard/products/add', '/dashboard/products/categories', '/dashboard/products/inventory']"
        (toggle)="toggleSubmenu('products')"
        [isCollapsed]="isCollapsed">
        <li class="flex flex-col gap-4 text-accent-offwhite font-normal">
          <a [routerLink]="['/dashboard/products/add']" 
             routerLinkActive="text-accent-yellow"
             class="hover:text-accent-yellow">Add Product</a>
          <a [routerLink]="['/dashboard/products/categories']" 
             routerLinkActive="text-accent-yellow"
             class="hover:text-accent-yellow">Categories</a>
          <a [routerLink]="['/dashboard/products/inventory']" 
             routerLinkActive="text-accent-yellow"
             class="hover:text-accent-yellow">Inventory</a>
        </li>
      </app-sub-menu>
      <!--  -->

    </ul>
  </div>

  <button class="toggle-btn text-accent-offwhite text-xl absolute bottom-8 left-4" 
          (click)="toggleSidebar()">
    <i class="fas" 
       [class.fa-angle-double-left]="!isCollapsed" 
       [class.fa-angle-double-right]="isCollapsed"></i>
  </button>
</div>