<div class="sidebar px-4 h-full flex flex-col text-start items-center bg-dark-blue w border-r border-dark-blue"
     [class.collapsed]="isCollapsed">
  <div id="menu" class="flex items-center mt-12 w-full">
    <ul class="flex flex-col items-start gap-8 w-full">
      <!-- Overview -->
      <li class="w-full flex gap-3 items-center">
        <i class="fas fa-tachometer-alt text-[20px] text-accent-offwhite  hover:text-accent-yellow" [routerLink]="['/dashboard/overview']" ></i>
        <a [routerLink]="['/dashboard/overview']" 
           routerLinkActive="text-accent-yellow"
           class="text-accent-offwhite hover:text-accent-yellow text-[16px] font-normal transition-opacity" 
           [class.hidden]="isCollapsed">
           Overview
        </a>
      </li>
      <!-- Orders -->
      <li class="w-full flex gap-3 items-center">
         <i class="fas fa-shopping-cart text-[20px] text-accent-offwhite  hover:text-accent-yellow " [routerLink]="['/dashboard/orders']" ></i>
        <a [routerLink]="['/dashboard/orders']" 
           routerLinkActive="text-accent-yellow"
           class=" text-accent-offwhite flex gap-3 items-center hover:text-accent-yellow text-[16px] font-normal transition-opacity" 
           [class.hidden]="isCollapsed">
           Orders</a>
      </li>
      <!-- Inventory -->
      <li class="w-full flex gap-3 items-center">
          <i class="fas fa-warehouse text-[20px] text-accent-offwhite hover:text-accent-yellow" [routerLink]="['/dashboard/inventory']"></i>
        <a [routerLink]="['/dashboard/inventory']" 
           routerLinkActive="text-accent-yellow"
           class=" text-accent-offwhite flex gap-3 items-center hover:text-accent-yellow text-[16px] font-normal transition-opacity" 
           [class.hidden]="isCollapsed">
           Inventory</a>
      </li>

      <!-- Products Submenu -->
      <app-sub-menu 
        [icon]="'fas fa-box'"
        [title]="'Products'"
        [link]="'/dashboard/products'"
        [routes]="['/dashboard/products/add', '/dashboard/products/categories', '/dashboard/products/inventory']"
        [isCollapsed]="isCollapsed"
        [isOpen]="isSubmenuOpen('products')"
        (click)="toggleProductsSubmenu()">
        <li class="flex flex-col gap-4 text-accent-offwhite font-normal">
          <a [routerLink]="['/dashboard/products/add']" 
             routerLinkActive="text-accent-yellow"
             class="hover:text-accent-yellow">Add Product</a>
          <a [routerLink]="['/dashboard/products/categories']" 
             routerLinkActive="text-accent-yellow"
             class="hover:text-accent-yellow">Categories</a>
          <a [routerLink]="['/dashboard/products/inventory']" 
             routerLinkActive="text-accent-yellow"
             class="hover:text-accent-yellow">Inventory</a>
        </li>
      </app-sub-menu>

      <!-- Cutomers  -->
      <li class="w-full text-accent-offwhite flex gap-3 items-center hover:text-accent-yellow">
         <i class="fas fa-user-alt text-[20px]"></i>
         <a [routerLink]="['/dashboard/customers']" 
            routerLinkActive="text-accent-yellow"
            class="text-[16px] font-normal transition-opacity" 
            [class.hidden]="isCollapsed">Customers</a>
      </li>

      <!-- Marketing -->
      <app-sub-menu 
      [icon]="'fas fa-bullhorn'"
      [title]="'Marketing'"
      [link]="'/dashboard/marketing'"
      [routes]="['/dashboard/marketing/promotions', '/dashboard/marketing/discounts', '/dashboard/marketing/coupons']"
      [isCollapsed]="isCollapsed"
      [isOpen]="isSubmenuOpen('marketing')"
      (click)="toggleMarketingSubmenu()">
      <li class="flex flex-col gap-4 text-accent-offwhite font-normal">
        <a [routerLink]="['/dashboard/marketing/promotions']" 
           routerLinkActive="text-accent-yellow"
           class="hover:text-accent-yellow"> Promotions</a>
        <a [routerLink]="['/dashboard/marketing/discounts']" 
           routerLinkActive="text-accent-yellow"
           class="hover:text-accent-yellow">Discounts</a>
        <a [routerLink]="['/dashboard/marketing/coupons']" 
           routerLinkActive="text-accent-yellow"
           class="hover:text-accent-yellow">Coupons</a>
        <a [routerLink]="['/dashboard/marketing/campaigns']" 
           routerLinkActive="text-accent-yellow"
           class="hover:text-accent-yellow">Campaigns</a>
      </li>
    </app-sub-menu>

      <!-- Reports & Analytics -->
      <app-sub-menu 
      [icon]="'fas fa-chart-line'"
      [title]="'Analytics'"
      [link]="'/dashboard/reports-analytics'"
      [routes]="['/dashboard/reports-analytics/sales-reports', '/dashboard/reports-analytics/product-performance', '/dashboard/reports-analytics/revenue-analytics']"
      [isCollapsed]="isCollapsed"
      [isOpen]="isSubmenuOpen('customers')"
      (click)="toggleCustomersSubmenu()">
      <li class="flex flex-col gap-4 text-accent-offwhite font-normal">
        <a [routerLink]="['/dashboard/reports-analytics/sales-reports']" 
           routerLinkActive="text-accent-yellow"
           class="hover:text-accent-yellow"> Sales reports</a>
        <a [routerLink]="['/dashboard/reports-analytics/product-performance']" 
           routerLinkActive="text-accent-yellow"
           class="hover:text-accent-yellow">Product performance</a>
        <a [routerLink]="['/dashboard/reports-analytics/revenue-analytics']" 
           routerLinkActive="text-accent-yellow"
           class="hover:text-accent-yellow">Revenue analytics</a>
      </li>
    </app-sub-menu>
    <!-- Settings  -->
      <app-sub-menu
      [icon]="'fas fa-cog'"
      [title]="'Settings'"
      [link]="'/dashboard/settings'"
      [routes]="['/dashboard/settings/store-setting', '/dashboard/settings/payment-methods', '/dashboard/settings/shipping-options']"
      [isCollapsed]="isCollapsed"
      [isOpen]="isSubmenuOpen('settings')"
      (click)="toggleSettingsSubmenu()">
      <li class="flex flex-col gap-4 text-accent-offwhite font-normal">
        <a [routerLink]="['/dashboard/settings/store-setting']" 
           routerLinkActive="text-accent-yellow"
           class="hover:text-accent-yellow">Store settings</a>
        <a [routerLink]="['/dashboard/settings/payment-methods']" 
           routerLinkActive="text-accent-yellow"
           class="hover:text-accent-yellow">Payment methods</a>
        <a [routerLink]="['/dashboard/settings/shipping-options']" 
           routerLinkActive="text-accent-yellow"
           class="hover:text-accent-yellow">Shipping options</a>
      </li>
    </app-sub-menu>

    </ul>
  </div>

  <button class="toggle-btn text-accent-offwhite text-xl absolute bottom-14 left-4" 
          (click)="toggleSidebar()">
    <i class="fas" 
       [class.fa-angle-double-left]="!isCollapsed" 
       [class.fa-angle-double-right]="isCollapsed"></i>
  </button>
</div>