<div class="relative z-40 -mt-[23px] mr-[4px] dropdown-container">
    <!-- Button to toggle the dropdown -->
    <button (click)="toggleDropdown()" class="flex items-center gap-2">
      <fa-icon [icon]="['fas', 'chevron-down']" class="text-2xl text-gray transition-transform" [ngClass]="{'rotate-180': isDropDownVisible, 'rotate-0': !isDropDownVisible}"></fa-icon>
    </button>
  
    <!-- Dropdown content -->
    <div *ngIf="isDropDownVisible" class="absolute top-[50px] -right-[37px] w-[250px] flex flex-col border border-primary-lighter-gray bg-white">
      <div class="flex flex-col gap-4 border-b border-primary-lighter-gray px-4 py-4">
        <h3 class="text-gray font-sans text-sm">medktite&#64;gmail.com</h3>
        <div class="flex items-center gap-2">
          <fa-icon [icon]="['fas', 'user']" class="text-gray"></fa-icon>
          <h3 class="text-sm text-gray font-sans font-medium">My Profile</h3>
        </div>
        <div class="flex items-center gap-2">
          <fa-icon [icon]="['fas', 'credit-card']" class="text-gray text-xl"></fa-icon>
          <h3 class="text-sm text-gray font-sans font-medium">My Plan</h3>
        </div>
      </div>
  
      <div class="flex flex-col gap-4 border-b border-primary-lighter-gray px-4 py-4">
        <div class="flex items-center gap-2">
          <fa-icon [icon]="['fas', 'cog']" class="text-gray"></fa-icon>
          <h3 class="text-sm text-gray font-sans font-medium">Setting</h3>
        </div>
        <div class="flex items-center gap-2">
          <fa-icon [icon]="['fas', 'location-arrow']" class="text-gray"></fa-icon>
          <h3 class="text-sm text-gray font-sans font-medium">Senders, Domains</h3>
        </div>
        <div class="flex items-center gap-2">
          <fa-icon [icon]="['fas', 'tools']" class="text-gray"></fa-icon>
          <h3 class="text-sm text-gray font-sans font-medium">SMTP & API</h3>
        </div>
        <div class="flex items-center gap-2">
          <fa-icon [icon]="['fas', 'shield-alt']" class="text-gray"></fa-icon>
          <h3 class="text-sm text-gray font-sans font-medium">Security</h3>
        </div>
      </div>
  
      <a href="/login" class="flex gap-4 items-center px-4 py-4 hover:text-secondary-purple">
        <fa-icon [icon]="['fas', 'sign-out-alt']" class="text-gray text-2xl"></fa-icon>
        <h3 class="text-sm text-gray font-sans font-semibold">Logout</h3>
      </a>
    </div>
  </div>