<div class="flex flex-col p-4 gap-4 w-full h-screen">
    <div>

    </div>
    <div id="details" class="flex flex-col  rounded-md bg-white">
        <div class="flex flex-col gap-2 p-4">
            <h1 class="text-2xl text-dark-blue font-medium">My Dettails</h1>
            <p class="text-[16px] text-dark-blue/60 font-normal">Please fill full details about yourself</p>
        </div>
        <hr class="w-full border-accent-offwhite border-t-4 ">
        <div class="flex flex-col gap-2 p-4 ">
            <div class="flex flex-col gap-4">
                <div class="flex gap-10">
                    <div class="flex flex-col gap-2 w-1/2">
                        <label class="text-[16px] font-medium text-dark-blue" for="">First Name</label>
                        <input type="text" placeholder="Enter First Name" class="border border-accent-offwhite rounded-md p-2">
                    </div>
                    <div class="flex flex-col gap-2 w-1/2">
                        <label class="text-[16px] font-medium text-dark-blue" for="">Last Name</label>
                        <input type="text" placeholder="Enter Last Enter" class="border border-accent-offwhite rounded-md p-2">
                    </div>
                </div>

                <div class="flex gap-10">
                    <div class="flex flex-col gap-2 w-1/2">
                        <label class="text-[16px] font-medium text-dark-blue" for="">Email </label>
                        <input type="text" placeholder="Enter Email" class="border border-accent-offwhite rounded-md p-2">
                    </div>
                    <div class="flex flex-col gap-2 w-1/2">
                        <label class="text-[16px] font-medium text-dark-blue" for="">Phone Number</label>
                        <input type="text" placeholder="Enter phone Number" class="border border-accent-offwhite rounded-md p-2">
                    </div>
                </div>
            </div>
            <!-- picture -->
             <div class="flex flex-col gap-4 mt-4 p-4">
                <h1 class="text-[16px] text-dark-blue font-medium">Your Photo</h1>
                <div class="flex gap-14">
                    <div>
                        <img src="assets/pic-profile.jpeg" alt="portfolio" class="w-20 rounded-full relative border-2 border-dark-blue" id="profile-pic">
                        <input type="file" id="file-input" class="hidden" accept="image/*" onchange="updateProfilePic(event)">
                        <button class="relative -top-6 text-accent-offwhite text-xl ml-14 " onclick="document.getElementById('file-input').click()">
                            <i class="fas fa-camera"></i>
                        </button>
                    </div>
                    <div id="cover" class="flex h-48 w-full rounded-md text-center items-center justify-center">
                        <input 
                            type="file" 
                            formControlName="images" 
                            (change)="onFileChange($event)" 
                            id="images" 
                            accept="image/*"
                            multiple
                            class="hidden"
                        >
                        <label for="images" class="flex flex-col gap-4 cursor-pointer text-center py-3">
                            <i class="fas fa-upload text-3xl text-white"></i>
                            <span class="text-white text-lg">Upload Images</span>
                        </label>
                    </div>


                </div>
             </div>

        </div>
    </div>
</div>
<router-outlet></router-outlet>