<div class="mx-auto p-4">
  <h1 class="text-xl font-bold mb-4">Add New Product</h1>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1">
    <div class="flex flex-col p-10 rounded-md gap-4 bg-white">
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
        <input type="text" formControlName="name" placeholder="Enter Product Name" id="name" name="name" class="border-[1px] px-4 border-accent-offwhite mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-12 shadow-sm sm:text-sm border-gray-300 rounded-md">
      </div>
      <div>
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
      </div>
      <div>
        <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
        <input type="number" formControlName="price" placeholder="Enter Product Price" id="price" name="price" class="border-[1px] px-4 border-accent-offwhite mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-12 shadow-sm sm:text-sm border-gray-300 rounded-md">
      </div>
      <div>
        <label for="quantity" class="block text-sm font-medium text-gray-700">Quantity</label>
        <input type="number" formControlName="quantity" placeholder="Enter Product Quantity" id="quantity" name="quantity" class="border-[1px] px-4 border-accent-offwhite mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-12 shadow-sm sm:text-sm border-gray-300 rounded-md">
      </div>
      <div>
        <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
        <select formControlName="categoryId" id="category" name="category" class="border-[1px] px-4 border-accent-offwhite mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-12 shadow-sm sm:text-sm border-gray-300 rounded-md">
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div>
        <label for="image" class="block text-sm  font-medium text-gray-700">Image</label>
        <input type="file" (change)="onFileChange($event)" id="image" name="image" class=" text-center py-3 align-middle justify-center border-[1px] px-4 border-accent-offwhite mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-12 shadow-sm sm:text-sm border-gray-300 rounded-md">
      </div>
      <div>
        <button type="submit" class="bg-dark-blue text-white px-4 py-2 rounded">Add Product</button>
      </div>
    </div>
  </form>
</div>